{
    "printWidth": 150,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "js/data/homeactions.js",
            "options": {
                "printWidth": 120
            }
        }
    ]
}
