{
    "printWidth": 150,
    "tabWidth": 4,
    "endOfLine": "auto",
    "overrides": [
        {
            "files": "js/data/homeactions.js",
            "options": {
                "printWidth": 120
            }
        },
        {
            "files": "chs.js",
            "options": {
                "quoteProps": "consistent"
            }
        }
    ]
}
